//
// 	Typography

body {
	font-family: $body-font-family;
	font-size: $base-font-size;
	line-height: 1.5;
	//Better font rendering for Firefox on OSX
	-moz-osx-font-smoothing: grayscale;
}

li,
p {
	font-family: $body-font-family;
	font-weight: $body-weight;
  margin: 1rem 0;
	@include fluid-type(16px,18px);
}

p {
	max-width: 700px
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4
}

h1 {
	font-family: $heading-font-family;
  margin: 1rem 0;
	@include fluid-type(30px,50px);

}

h2 {
  font-family: $heading-font-family;
  font-weight: $heading-weight;
  margin: 1rem 0;
	@include fluid-type(28px,36px);
}

h3{
  font-family: $heading-font-family;
  font-weight: $heading-weight;
  margin: 1rem 0;
	@include fluid-type(26px,34px);
}

h4 {
  font-family: $heading-font-family;
  font-weight: $heading-weight;
  margin: 1rem 0;
	@include fluid-type(24px,32px);
}

h5 {
  font-family: $heading-font-family;
  font-weight: $heading-weight;
  margin: 1rem 0;
	@include fluid-type(22px,30px);
}

h6 {
	font-family: $heading-font-family;
	font-weight: $heading-weight;
	margin: 1rem 0;
	@include fluid-type(20px,28px);
}

a {
  color: $body-link-color;

  &:hover {
    color: shade($body-link-color, 10);
	}
}

code {
	background: #F3F3F3;
	border-radius: 3px;
	font-family: monospace;
	border: 1px solid #ffbbcc;
	padding: 3px 5px;
	display: inline-block;
	font-size: 90%;
}
