//Button Variables
$btn-padding: $spacing ($spacing * 2);
$btn-bg: $red;
$btn-color: $white;
$btn-font-weight: bold;
$btn-font-size: inherit;

$btn-hover-bg: shade($btn-bg, 10);
$btn-hover-color: $white;
$border: none;

.button{
  padding: $btn-padding;
  background: $btn-bg;
  color: $btn-color;
  border-radius: 2px;
  font-weight: $btn-font-weight;
  text-decoration: none;
  border: $border;
  font-size: $btn-font-size;
  cursor: pointer;
  display: block;
  text-align: center;

  &--inline {
    display: inline-block;
  }

  &:hover{
    background: $btn-hover-bg;
    color: $btn-hover-color;
  }
}
