label {
  font-size: 90%;
  color: $gray;
  margin: 10px 0 5px;
  display: flex;
  align-items: center;
}

label + input {
  margin-top: 5px;
}

input {
  width: 100%;
  border: 1px solid $light-gray;
  font-family: inherit;
  padding: $spacing;
  margin: $spacing 0;
  font-size: inherit;

  &[required] {
    border-color: $yellow;
  }

  &[required][placeholder]:not(:placeholder-shown) {
    border-color: $blue
  }

  &[required][placeholder]:placeholder-shown {
    /** input is empty */
  }


  &[type="color"] {
    padding: 0;
    height: 44px;
  }

  &[type="text"],
  &[type="email"],
  &[type="search"],
  &[type="submit"],
  &[type="email"],
  &[type="url"] {
    appearance: none;
    border-radius: 0;
  }

}

textarea {
  width: 100%;
  border: 1px solid $light-gray;
  font-family: inherit;
  padding: $spacing;
  margin: $spacing 0;
  font-size: inherit;
  resize: none;
  min-height: 250px;
}

input[type="radio"] {
  width: auto;
  margin: 0 $spacing 0 0;
}
