img{
  max-width: 100%;
  height: auto;
  display: block;

  p & {
    margin: 1rem 0;
  }
}

.align-left {
  margin: 1rem auto;

  @include respond-to('small') {
    float: left;
    margin: ($spacing / 2) $spacing ($spacing / 2) 0;

  }
}

.align-right {
  margin: 1rem auto;

  @include respond-to('small') {
    float: right;
    margin: ($spacing / 2)  0 ($spacing / 2)  $spacing ;
  }
}
